.profileParent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0;
}

.profileDiv1 { grid-area: 1 / 1 / 2 / 2; }
.profileDiv2 { grid-area: 1 / 2 / 2 / 3; }
.profileDiv3 { grid-area: 2 / 1 / 3 / 3; }